#user-login .ssl-auth-login-links {
  padding-left: 0;
}

.ssl-auth-login-links a {
	background-image: url('../images/lock.png');
	background-repeat: no-repeat;
  background-position: left top;
	padding-left: 1.5em;
}

.ssl-auth-login-links li {
  list-style: none;  
  display: block;
  margin-left: 0;
}